user_data/data/*
user_data/logs/*
user_data/notebooks/.ipynb_checkpoints/*
user_data/notebooks/*.ipynb

user_data/backtest_results/*
user_data/hyperopt_results/*
user_data/hyperopts/*
user_data/plot/*

user_data/freqaimodels/*

!user_data/data/.gitkeep
!user_data/backtest_results/.gitkeep
!user_data/hyperopt_results/.gitkeep
!user_data/hyperopts/.gitkeep
!user_data/logs/.gitkeep
!user_data/plot/.gitkeep
!user_data/strategies/.gitkeep

user_data/*.sqlite*

user_data/config.json
.env*
!.env.example

# Python & Cache Files
pycache/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/